* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 900vh;

}

.header {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    flex-direction: row;
    align-items: center;
    background-color: #202020;

}

nav.menu-lateral {
    width: 80px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
}

nav.menu-lateral.expandir {
    width: 300px;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
}

.btn-expandir>i {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: .2s;
}

ul li.ativo {
    background-color: #006319;
}

ul li.item-menu:hover {
    background: #006319;
}

ul li.item-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link {
    margin-left: 70px;
    transition: 1s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link {
    margin-left: 30px;
    opacity: 1;
}

ul li.item-menu a .icon>i {
    font-size: 30px;
    margin-left: 10px;
}

.container {
    color: #fff;
    font-size: 20px;
    padding: 0px 20%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

.container a {
    text-decoration: none;
    color: #fff;

}

.container table tr td {
    width: 30vw;
    /* Distribui igualmente as colunas */
    height: 2vw;
    /* Distribui igualmente as linhas */
    background-color: #006319;
}


table {
    border-spacing: 20px;
    color: #fff;
}

.itens-table a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

table td {
    text-align: center;
    vertical-align: middle;
    border: 1px;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-left: 1810px;
}